<div class="rounded bg-white px-5 py-3 shadow-xl">
  <div class="-mx-1">
    <ul class="flex w-full flex-wrap items-center gap-2">
      <li class="block" *ngFor="let item of menuItems">
        <a
          [routerLink]="item.router"
          routerLinkActive="bg-gray-950 text-gray-100"
          class="flex items-center gap-2 rounded-lg px-4 py-2 text-gray-900 transition-colors duration-100 hover:bg-gray-950 hover:text-gray-100"
        >
          <span class="text-xl">
            <i [class]="item.icon"></i>
          </span>
          <span class="font-medium">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="pt-3">
  <router-outlet></router-outlet>
</div>
