<div class="block w-full overflow-x-auto">
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th class="px-2 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-1/6 truncate font-semibold text-left">Name</th>
            <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Year</th>
            <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Category</th>
            <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Prices</th>
            <th  class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">childRate</th>

            <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Approximate Duration</th>
            <th  class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Take notes</th>
            <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">Actions</th>
          </tr>

        </thead>
        <tbody>
          <tr class="text-gray-700 dark:text-gray-600 border-b">
            <td class="border-t-0 px-4 align-top border-l-0 border-r-0 text-xs p-2 text-left">columna1</td>
            <td class="border-t-0 px-4 align-top border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-left">columna2</td>
            <td class="border-t-0 px-4 align-top border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-left">columna3</td>
            <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-2">
           columna4
            </td>
            <td class="border-t-0 px-4 align-top border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-left">columna5</td>
            <td class="border-t-0 px-4 align-top border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-left">columna6</td>
            <td class="border-t-0 px-4 align-top border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-left">columna7</td>

            <td class="border-t-0 px-4 align-top border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-left">columna8</td>

          </tr>
        </tbody>
      </table>
    </div>
