
  <table class="items-center w-full bg-transparent border-collapse">
    <thead>
      <tr>
        <th *ngFor="let column of columns" class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left">
          {{ column.header }}
        </th>
        <th *hasRole="['admin','OPE']"  class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 font-semibold text-left min-w-[140px]">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data" class="hover:bg-gray-50">
        <!-- Celdas del contenido, ajustando el texto largo -->
        <td *ngFor="let column of columns" class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-sm p-1 whitespace-normal break-words">
          {{ extractValue(row, column) }}
        </td>
  
        <!-- Acción, como los botones de editar y eliminar -->
        <td *hasRole="['admin','OPE']" class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-normal p-1">
         
          <ng-container *ngFor="let action of actions; let i = index">
            <i class="text-2xl mr-2"
              [ngClass]="action.class"
              (click)="emitAction(action.name, row)">
            </i>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  