<div class="relative">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="px-4 py-2 border-b w-4">N°</th>
        <th class="px-4 py-2 border-b">Date</th>
        <th class="px-4 py-2 border-b">Route</th>
        <th class="px-4 py-2 border-b">Price</th>
        <th class="px-4 py-2 border-b">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights; let i = index">
        <td class="px-4 py-2 flex justify-between items-center">
          <i class='bx bx-down-arrow-alt text-green-500' (lick)="moveFlightDown(i)"></i>

          <i class='bx bx-up-arrow-alt text-red-500' (click)="moveFlightUp(i)"></i>
        </td>
        <td class="px-4 py-2 border-b">{{ flight.description }}</td>
        <td class="px-4 py-2 border-b">{{ flight.price_pp }}</td>
        <td class="px-4 py-2 border-b">{{ flight.take_note }}</td>
        <td class="px-4 py-2 border-b">
          <button (click)="onEdit(i)" class="text-blue-500">Edit</button>
          <button (click)="onDelete(i)" class="text-red-500">Delete</button>
        </td>
      </tr>

      <!-- Botón "+" para agregar vuelo -->
      <tr>
        <td colspan="4" class="relative">
          <button class="absolute bg-blue-500 text-white p-2 rounded-full shadow-md hover:bg-blue-600" 
                  style="top: -1.5rem; left: 0.5rem;">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>