
  <!--  @if (selectedCategory==='Hoteles') {-->
     <div class="flex flex-wrap space-x-4 justify-start" (change)="onRoomTypeChange($event)">
        <div class="w-1/4">
            <label for="hotel-select" class="block text-sm font-medium text-gray-700">Hoteles</label>
            <select [(ngModel)]="selectedHotel" (change)="onHotelChange($event)" name="selectedHotel" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1" >
                <option value="" disabled selected>Select Hotel</option>
                @for (hotel of hotels; track hotel._id) {
                    <option [value]="hotel._id">{{hotel.name}}</option>
                }
            </select>
        </div>
      <!--   <div class="flex flex-row space-x-4">-->
            <div class="w-1/4">
                <label for="service-select" class="block text-sm font-medium text-gray-700">Services</label>
            <select [(ngModel)]="selectedService" (change)="onServiceChange($event)" name="selectedService" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1">
                <option value="" disabled selected>Select Service</option>
                @for (service of hotelServices; track $index) {
                    <option [value]="service._id">{{service.name_service}} </option>
                 
                }
            </select>
            </div>
            <div>
               @if (roomTypes.length>0) {
                <label for="price" class="block text-sm font-medium text-gray-700 pb-1">Accommodations</label>
                <div class="space-x-4 flex flex-row border-2 h-10 border-gray-300 rounded-md" >
            
                  <div class="flex items-center mx-2">
                        <select [(ngModel)]="selectedRoomType"  name="type" id="type">
                          <option value="" disabled selected>Select Type</option>
                     @for (roomType of roomTypes; track $index) {
                        <option [value]="roomType.type">{{roomType.type}}</option>
                        }
                        </select>
                    </div>
                    @for (roomType of roomTypes; track $index) {
                    
                  <div *ngIf="selectedRoomType === roomType.type"  class="flex items-center mr-2">
                      <input 
                      type="radio" 
                      id="confidential" 
                      [(ngModel)]="quoterItem.price"
                      [value]="{ type: roomType.type, price: roomType.confidential, accommodations: 'confidential' }"
                      name="confidential"
                      class="form-checkbox h-10 w-4 text-blue-600 border-gray-300 rounded" >
                      <label for="Confidential" class="ml-2 mr-2 text-sm">Confidential - ${{roomType.confidential}}</label>
                  </div>
                  <div *ngIf="selectedRoomType === roomType.type" class="flex items-center mx-2">
                    <input
                    type="radio" 
                    id="rack" 
                    [(ngModel)]="quoterItem.price"
                    [value]="{ type: roomType.type, price: roomType.rack, accommodations: 'Rack' }"
                    name="Rack"
                    class="form-checkbox h-10 w-4 text-blue-600 border-gray-300 rounded">
                    <label for="Rack" class="ml-2 text-sm mr-2">Rack - ${{roomType.rack}}</label>
                </div>
                
                }
                </div>

                }    
            </div>
            <div class="w-64">
                <div>
                     <label for="service-select" class="block text-sm font-medium text-gray-700">Notes</label>
                    <textarea [(ngModel)]="quoterItem.notes" name="quoterItem.notes" id="" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1"></textarea>
                </div>
               
            </div>
         </div>
   <!-- </div>--> 
           
       