<div class="m-4">
  <!--  @if (selectedCategory==='Hoteles') {-->
        <div>
            <label for="hotel-select" class="block text-sm font-medium text-gray-700">Hoteles</label>
            <select [(ngModel)]="selectedHotel" (change)="onHotelChange($event)" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" >
                <option value="" disabled selected>Select Hotel</option>
                @for (hotel of hotels; track hotel._id) {
                    <option [value]="hotel._id">{{hotel.name}}</option>
                }
            </select>
           
        </div>
        <div>
            <label for="service-select" class="block text-sm font-medium text-gray-700">Services</label>
            <select [(ngModel)]="selectedService" id="" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md">
                <option value="" disabled selected>Select Service</option>
                @for (service of hotelServices; track $index) {
                    <option [value]="service._id">{{service.name_service}}</option>
                 
                }
            </select>
            @if (selectedService) {
                <label for="price" class="block text-sm font-medium text-gray-700">Accommodations</label>
                        <input type="text" id="accommodations" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Value">
            }
          
        </div>
</div>