<div id="modalMq" class="main-modal fixed w-full inset-0 z-50 overflow-hidden flex justify-center items-start animated fadeIn faster" style="background: rgba(0,0,0,.7);" >
    <div class="border border-gray-200 modal-container bg-gray-50 dark:bg-gray-800 w-4/12 md:max-w-11/12 mx-auto rounded-xl shadow-lg z-50 overflow-y-auto " >
      <div class="modal-content py-4 text-left px-6 min-h-48" style="min-height: 200px;">
        <!-- Title -->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold text-gray-900 dark:text-gray-50">Master Quoter</p>
          <div class="modal-close cursor-pointer z-50" (click)="closeModal()">
            <svg class="fill-current text-gray-900 dark:text-gray-50" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>
        <!-- Body -->
        <div class="my-5 mr-5 ml-5 flex justify-center max-h-96 overflow-y-auto">
          <form id="add_mquoter" (submit)="onAddMQuoter()" class="w-full">
            <div class="">


              <div class="flex flex-row w-full space-x-2 mb-4">
                <div class="basis-3/5">
                <label for="name_mq" class="block text-md text-gray-600 dark:text-gray-50 whitespace-nowrap">Name Master Quoter</label>
                <input
                    id="searchInput"
                    type="text"
                    [(ngModel)]="searchTerm"
                    (input)="filterOptions()"
                    (focus)="showOptions = true"
                    (blur)="onBlur()"
                    name="search"
                    placeholder="Search Master Quoter..."
                    class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md"
                />
                <!-- Opciones filtradas -->
                <ul id="optionsDropdown" *ngIf="showOptions && filteredOptions.length" class="left-0 right-0 bg-white border border-gray-300 mt-1 rounded-md max-h-40 overflow-auto z-10">
                    <li
                        *ngFor="let option of filteredOptions"
                        (click)="selectOption(option)"
                        class="p-2 hover:bg-gray-200 cursor-pointer"
                    >
                        {{ option.name }}
                    </li>
                </ul>
              </div>
              <div class="basis-1/5 content-end">
          
                <div class="relative inline-block text-left">
                  <button (click)="toggleDropdown()" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white h-10 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 whitespace-nowrap" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    Paxs Options
                    <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </button>
                @if (isDropdownOpen) {
                  <div class="absolute right-0 z-10 mt-2 w-36 origin-top-right divide-y divide-gray-100 rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="grid grid-cols-1 p-2"  role="none">
                      <!-- @for (paxs of numberpaxs(); track $index; ; let groupIndex = $index) {
                        <label for="" class="block text-left">
                          <input type="checkbox">For {{paxs}}
                        </label>
                        <div class="flex flex-col items-center pl-4">
                          @for (pax of [].constructor(paxs); track $index;  let paxIndex = $index) {
                            <label for="check-item-{{groupIndex}}-{{paxIndex}}">
                              <input type="checkbox" 
                              id="check-item-{{groupIndex}}-{{paxIndex}}"
                          
                 
                              (change)="toggleCheckbox(groupIndex,paxIndex)"
                              >
                              Pax - {{paxIndex + 1}}
                            </label>
                          }
                        </div>
                      } -->
                      <div *ngFor="let groupSize of numberpaxs(); let groupIndex = index" class="mb-4">
                        <!-- Etiqueta para el grupo -->
                        <label class="block font-medium text-gray-700 mb-2">
                          For {{ groupSize }} Pax
                        </label>
                      
                        <!-- Contenedor de los checkboxes -->
                        <div class="grid grid-cols-1 gap-2 pl-4">
                          <div *ngFor="let checkbox of [].constructor(groupSize); let checkboxIndex = index" class="flex items-center">
                            <input
                              type="checkbox"
                              [checked]="checkboxes[groupIndex][checkboxIndex]"
                              (change)="toggleCheckbox(groupIndex, checkboxIndex)"
                              class="h-4 w-4 text-blue-600 border-gray-300 rounded"
                            />
                            <label for="checkbox-{{ groupIndex }}-{{ checkboxIndex }}" class="ml-2 text-sm text-gray-700">
                              Pax - {{ checkboxIndex + 1 }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
                </div>
              </div>
              <div class="basis-1/5 content-end">
                <div class="relative inline-block text-left">
                  <button (click)="toggleDropdownChild()" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white h-10 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 whitespace-nowrap" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    Children Options
                    <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </button>
                @if (isDropdownOpenChild) {
                  <div class="absolute right-0 z-10 mt-2 w-24 origin-top-right divide-y divide-gray-100 rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="grid grid-cols-1 p-2"  role="none">
                      @for (child of childrenAges(); track $index) {                       
                        <div class="flex flex-col items-start pl-4">
                            <label for="check-item-{{$index}}">
                              <input type="checkbox" 
                              [value]="child"
                                     id="check-item-{{$index}}"
                                     (change)="toggleCheckboxChildrenAges
                                     (child, $event)"
                                     [checked]="selectedServices.children_ages.includes($index)">
                              {{child}}
                            </label>
                        </div>
                      }
                    </div>
                  </div>
                }
                </div>
              </div>
            </div>
           @if (selectedMasterQuoter?.type === 'Tour Options') { 
            <div class="flex flex-row w-full space-x-2 mb-4">
              <div>
              <label for="issue-date" class="block text-sm font-medium text-gray-700">Day</label>
              <input type="number" [(ngModel)]="selectedServices.day"  name="day" id="day" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1" > 
            </div>
            <div>
              <label for="issue-date" class="block text-sm font-medium text-gray-700">Date</label>
              <input type="date" [(ngModel)]="selectedServices.date"  name="date" id="date" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1" > 
            </div>
            </div>
          } 
              @for (option of filteredDaysOptions; track $index) {
              <div class="mb-4">
                <details class="group">
                  <summary class="flex justify-start items-center font-medium cursor-pointer list-none space-x-2">
                    <input
                    type="checkbox"
                    [name]="'selectAll-' + option._id"
                    [(ngModel)]="option.selected"
                    (change)="toggleAllServices(option)"
                  />
                    <span>{{option.city}} - {{ option.name_services }}</span>
                    <span class="transition group-open:rotate-180">
                          <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                        </svg>
                        </span>
                  </summary>
                  <div *ngFor="let service of option.services" class=" bg-gray-100">
                    @switch (service.type_service) {
                      @case ('services') {
                        <label class="text-blue-400">
                          <input
                            type="checkbox"
                            [name]="'service-' + service.service_id"
                            [(ngModel)]="service.selected"
                          />
                          {{ service.name_service }}
                        </label>
                      }
                      @case ('options') {
                        <label class="text-green-400">
                      <input
                        type="checkbox"
                        [name]="'option-' + service.service_id"
                        [(ngModel)]="service.selected"
                      />
                      {{ service.name_service }}
                    </label>
                      }
                    }

                  </div>
                </details>
              </div>
            }
              <!-- <div class="mt-4 p-5 border border-gray-300 rounded-lg bg-slate-100 ">
                <h3 class="text-md font-semibold text-gray-700 dark:text-gray-300">Services</h3>
                <div *ngFor="let service of servicesList">
                  <label>
                    <input
                      type="checkbox"
                      name="service"

                      (change)="toggleService(service)"
                    />
                    {{ service.name_service }}
                  </label>
                </div>
              </div>

              <div class="mt-4 p-5 border border-gray-300 rounded-lg bg-slate-100 ">
                <h3 class="text-md font-semibold text-gray-700 dark:text-gray-300">Options</h3>
                <div *ngFor="let option of optionsList">
                  <label>
                    <input
                      type="checkbox"
                      name="option"

                      (change)="toggleService(option)"
                    />
                    {{ option.name_service }}
                  </label>
                </div>
              </div> -->
            </div>
          </form>
        </div>
        <!-- Footer -->
        <div class="flex justify-end pt-2 space-x-14">
          <button (click)="closeModal()" class="px-4 bg-gray-200 dark:bg-gray-600 p-3 rounded text-black dark:text-white hover:bg-gray-300 dark:hover:bg-gray-500 font-semibold" >Cancel</button>
          <button type="submit" form="add_mquoter" class="px-4 bg-blue-500 dark:bg-blue-700 p-3 ml-3 rounded-lg text-white hover:bg-blue-600 dark:hover:bg-blue-800">Add</button>
        </div>
      </div>
    </div>
  </div>
