<div  class="main-modal fixed w-full inset-0 z-50 overflow-hidden flex justify-center items-start animated fadeIn faster" style="background: rgba(0,0,0,.7);" >
    <div class="border border-gray-200 modal-container bg-gray-50 dark:bg-gray-800 w-4/12 md:max-w-11/12 mx-auto rounded-xl   shadow-lg z-50 overflow-y-auto">
      <div class="modal-content py-4 text-left px-6">
        <!-- Title -->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold text-gray-900 dark:text-gray-50">Master Quoter</p>
          <div class="modal-close cursor-pointer z-50" (click)="closeModal()">
            <svg class="fill-current text-gray-900 dark:text-gray-50" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>
        <!-- Body -->
        <div class="my-5 mr-5 ml-5 flex justify-center max-h-96 overflow-y-auto">
          <form id="add_mquoter" (submit)="onAddMQuoter()" class="w-full">
            <div class="">
              <div class="mb-4">
                <label for="issue-date" class="block text-sm font-medium text-gray-700">Date</label>
                <input type="date" [(ngModel)]="selectedServices.date"  name="date" id="date" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1" >
              </div>
            
              <div class="mb-4">
                <label for="name_mq" class="block text-md text-gray-600 dark:text-gray-50">Name Master Quoter</label>
                <input
                    id="searchInput"
                    type="text"
                    [(ngModel)]="searchTerm"
                    (input)="filterOptions()"  
                    (focus)="showOptions = true"
                    name="search"
                    placeholder="Search Master Quoter..."
                    class="h-10 p-6 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md"
                />
                <!-- Opciones filtradas -->
                <ul id="optionsDropdown" *ngIf="showOptions && filteredOptions.length" class=" left-0 right-0 bg-white border border-gray-300 mt-1 rounded-md max-h-40 overflow-auto z-10">
                    <li
                    *ngFor="let option of filteredOptions"
                    (click)="selectOption(option)"
                    class="p-2 hover:bg-gray-200 cursor-pointer"
                    >
                    {{ option.name }}
                    </li>
                </ul>
              </div>
              <!-- <div class="mb-4">
                <label for="name_mq" class="block text-md text-gray-600 dark:text-gray-50">days</label>
                <input
                    id="searchInputDays"
                    type="text"
                    [(ngModel)]="searchTermDays"
                    (input)="filterOptionsDays()"  
                    (focus)="showOptionsDays = true"
                    name="search_days"
                    placeholder="Search day..."
                    class="h-10 p-6 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md"
                />
             
                <ul id="optionsDropdownDay" *ngIf="showOptionsDays && filteredDaysOptions.length" class=" left-0 right-0 bg-white border border-gray-300 mt-1 rounded-md max-h-40 overflow-auto z-10">
                    <li
                    *ngFor="let option of filteredDaysOptions"
                    (click)="selectOptionDay(option)"
                    class="p-2 hover:bg-gray-200 cursor-pointer"
                    >
                    {{option.city}} - {{ option.name_services }}
                    </li>
                </ul>
              </div> -->
              @for (option of filteredDaysOptions; track $index) {
              <div class="mb-4">
                <details class="group">
                  <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <input
                    type="checkbox"
                    [name]="'selectAll-' + option._id"
                    [(ngModel)]="option.selected"
                    (change)="toggleAllServices(option)"
                  />
                    <span>{{option.city}} - {{ option.name_services }}</span>
                    <span class="transition group-open:rotate-180">
                          <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                        </svg>
                        </span>
                  </summary>
                  <div *ngFor="let service of option.services">
                    @switch (service.type_service) {
                      @case ('services') {
                        <label class="text-red-600">
                          <input
                            type="checkbox"
                            [name]="'service-' + service.service_id"
                            [(ngModel)]="service.selected"
                          />
                          {{ service.name_service }}
                        </label>
                      }
                      @case ('options') {
                        <label class="text-blue-600">
                      <input
                        type="checkbox"
                        [name]="'option-' + service.service_id"
                        [(ngModel)]="service.selected"
                      />
                      {{ service.name_service }}
                    </label>
                      }
                    }
                    
                  </div>
                </details>
              </div>
            }
              <!-- <div class="mt-4 p-5 border border-gray-300 rounded-lg bg-slate-100 ">
                <h3 class="text-md font-semibold text-gray-700 dark:text-gray-300">Services</h3>
                <div *ngFor="let service of servicesList">
                  <label>
                    <input
                      type="checkbox"
                      name="service"
                     
                      (change)="toggleService(service)"
                    />
                    {{ service.name_service }}
                  </label>
                </div>
              </div>
              
              <div class="mt-4 p-5 border border-gray-300 rounded-lg bg-slate-100 ">
                <h3 class="text-md font-semibold text-gray-700 dark:text-gray-300">Options</h3>
                <div *ngFor="let option of optionsList">
                  <label>
                    <input
                      type="checkbox"
                      name="option"
                    
                      (change)="toggleService(option)"
                    />
                    {{ option.name_service }}
                  </label>
                </div>
              </div> -->
            </div>
          </form>
        </div>
        <!-- Footer -->
        <div class="flex justify-end pt-2 space-x-14">
          <button (click)="closeModal()" class="px-4 bg-gray-200 dark:bg-gray-600 p-3 rounded text-black dark:text-white hover:bg-gray-300 dark:hover:bg-gray-500 font-semibold" >Cancel</button>
          <button type="submit" form="add_mquoter" class="px-4 bg-blue-500 dark:bg-blue-700 p-3 ml-3 rounded-lg text-white hover:bg-blue-600 dark:hover:bg-blue-800">Add</button>
        </div>
      </div>
    </div>
  </div>