
<div class="p-6 relative flex flex-col min-w-0 mb-4 lg:mb-0 break-words bg-gray-50 dark:bg-gray-800 w-full shadow-lg rounded">
    <div class="rounded-t mb-0 px-0 border-0">
      <div class="flex flex-wrap items-center px-4 py-2">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50">Servicios de {{ selectedTrain.company }}</h3>
        </div>
        <div class="relative w-full max-w-full flex-grow flex-1 text-right">
          <input
            type="text"
            [(ngModel)]="filterText"
            (input)="filterServices()"
            placeholder="Filter services..."
            class="p-2 border border-gray-300 rounded"
          />
        </div>
        <td>
          <!-- Botón para abrir el modal -->
          <button class="px-4 bg-blue-500 dark:bg-blue-700 p-3 ml-3 rounded-lg text-white hover:bg-blue-600 dark:hover:bg-blue-800" (click)="openModal()">Add Service per Train</button>
        </td>
      </div>
      <div class="block w-full overflow-x-auto">
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th rowspan="2" class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Service Name </th>
              <th colspan="3" class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">Prices</th>
              <th rowspan="2" class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-normal font-semibold text-left">Observations</th>
              <th rowspan="2" class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">Actions</th>
            </tr>
            <tr>
              <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center min-w-140-px">Adults</th>
              <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center min-w-140-px">Child</th>
              <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center min-w-140-px">Guide</th>
            </tr>
          </thead>
          <tbody >
            @for (service of filteredServices; track $index) {
              <tr class="text-gray-700 dark:text-gray-1000">
                  <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">{{ service.serviceName }}</td>
                    
                      @if (service.prices.season!='Regular') {
                        <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> {{service.prices.season}} - {{ service.prices.adultPrice | currency }}
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> {{service.prices.season}} - {{ service.prices.childPrice | currency}}</td>
                    <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> {{service.prices.season}} - {{ service.prices.guidePrice | currency }}</td>
                      }@else{
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ service.prices.adultPrice | currency }}</td>
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ service.prices.childPrice | currency}}</td>
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ service.prices.guidePrice | currency}}</td>
                      }
                    
                    
                  <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-normal p-4">{{ service.observations }}</td>
                  <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    <i class='bx bx-edit-alt text-2xl text-blue-500 dark:text-blue-700 mr-2' (click)="openEditModal(service)"></i>
                    <i class='bx bx-trash text-2xl text-red-500 dark:text-red-700 mr-2' (click)="deleteService(service._id)"></i>
                  </td>
                </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Add Modal -->
<div *ngIf="showAddModal" class="main-modal fixed w-full inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster" style="background: rgba(0,0,0,.7);">
    <div class="border border-gray-200 modal-container bg-gray-50 dark:bg-gray-800 w-4/12 md:max-w-11/12 mx-auto rounded-xl shadow-lg z-50 overflow-y-auto">
      <div class="modal-content py-4 text-left px-6">
        <!-- Title -->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold text-gray-900 dark:text-gray-50">Add Service</p>
          <div class="modal-close cursor-pointer z-50" (click)="closeModal()">
            <svg class="fill-current text-gray-900 dark:text-gray-50" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>
        <!-- Body -->
        <div class="my-5 mr-5 ml-5 flex justify-center">
          <form (submit)="onSubmit()" id="add_service_form" class="w-full">
              <div class="mb-4">
                <label for="name_service" class="block text-md text-gray-600 dark:text-gray-50">Service Name</label>
                <input type="text" id="name_service" name="name_service" class="h-10 p-6 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" placeholder="Service Name" [(ngModel)]="newService.serviceName" required>
              </div>
              <div class="mb-4">
                <label for="observaciones" class="block text-md text-gray-600 dark:text-gray-50">Observations</label>
                <input type="text" id="observaciones" name="observaciones" class="h-10 p-6 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" placeholder="observaciones" [(ngModel)]="newService.observations" required>
              </div>
              <div class="mb-4">
                <label for="prices" class="block text-md text-gray-600 dark:text-gray-50 ">Prices</label>
                <div class="flex gap-4 py-2 items-center">
                  <input type="number" [(ngModel)]="newService.prices.adultPrice" placeholder="Adult Price" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" name="adultPrice" required>
                  <input type="number" [(ngModel)]="newService.prices.childPrice" placeholder="Child Price" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" name="childPrice" required>
                  <input type="number" [(ngModel)]="newService.prices.guidePrice" placeholder="Guide Price" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" name="guidePrice" required>
                  <select [(ngModel)]="newService.prices.season" name="season" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" required>
                      <option value="Regular">Regular</option>
                      <option value="High">High</option>
                      <option value="Low">Low</option>
                  </select>
                  <!-- <i class='bx bx-trash text-2xl text-red-500 dark:text-red-700 cursor-pointer' (click)="removePriceField(i)"></i> -->
              </div>
                <!-- <button type="button" (click)="addPriceField()" class="mt-2 px-4 bg-green-500 dark:bg-green-700 p-2 rounded-lg text-white hover:bg-green-600 dark:hover:bg-green-800">Add Price</button> -->
            </div>
          </form>
        </div>
        <!-- Footer -->
        <div class="flex justify-end pt-2 space-x-14">
          <button class="px-4 bg-gray-200 dark:bg-gray-600 p-3 rounded text-black dark:text-white hover:bg-gray-300 dark:hover:bg-gray-500 font-semibold" (click)="closeModal()">Cancel</button>
          <button type="submit" form="add_service_form" class="px-4 bg-blue-500 dark:bg-blue-700 p-3 ml-3 rounded-lg text-white hover:bg-blue-600 dark:hover:bg-blue-800">Confirm</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Edit Modal -->
<div *ngIf="showEditModal" class="main-modal fixed w-full inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster" style="background: rgba(0,0,0,.7);">
  <div class="border border-gray-200 modal-container bg-gray-50 dark:bg-gray-800 w-4/12 md:max-w-11/12 mx-auto rounded-xl shadow-lg z-50 overflow-y-auto">
    <div class="modal-content py-4 text-left px-6">
      <!-- Title -->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold text-gray-900 dark:text-gray-50">Edit Service</p>
        <div class="modal-close cursor-pointer z-50" (click)="closeEditModal()">
          <svg class="fill-current text-gray-900 dark:text-gray-50" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </div>
      </div>
      <!-- Body -->
      <div class="my-5 mr-5 ml-5 flex justify-center">
        <form (submit)="onEditSubmit()" id="edit_service_form" class="w-full">
            <div class="mb-4">
              <label for="name_service" class="block text-md text-gray-600 dark:text-gray-50">Service Name</label>
              <input type="text" id="name_service" name="name_service" class="h-10 p-6 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" placeholder="Service Name" [(ngModel)]="selectService.serviceName" required>
            </div>
            <div class="mb-4">
              <label for="observaciones" class="block text-md text-gray-600 dark:text-gray-50">Observations</label>
              <input type="text" id="observaciones" name="observaciones" class="h-10 p-6 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" placeholder="observaciones" [(ngModel)]="selectService.observations" required>
            </div>
            <div class="mb-4">
              <label for="prices" class="block text-md text-gray-600 dark:text-gray-50 ">Prices</label>
              <div class="flex gap-4 py-2 items-center">
                <input type="number" [(ngModel)]="selectService.prices.adultPrice" placeholder="Adult Price" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" name="adultPrice" required>
                <input type="number" [(ngModel)]="selectService.prices.childPrice" placeholder="Child Price" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" name="childPrice" required>
                <input type="number" [(ngModel)]="selectService.prices.guidePrice" placeholder="Guide Price" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" name="guidePrice" required>
                <select [(ngModel)]="selectService.prices.season" name="season" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md" placeholder="Season" required>
                  <option value="Regular">Regular</option>
                  <option value="High">High</option>
                  <option value="Low">Low</option>
              </select>
              <!-- <i class='bx bxs-trash text-2xl text-red-500 dark:text-red-700 mr-2' (click)="removeEditPriceField(i)"></i> -->
              </div>
              <!-- <button type="button" (click)="addEditPriceField()" class="mt-2 px-4 bg-green-500 dark:bg-green-700 p-2 rounded-lg text-white hover:bg-green-600 dark:hover:bg-green-800">Add Price</button> -->
          </div>
        </form>
      </div>
      <!-- Footer -->
      <div class="flex justify-end pt-2 space-x-14">
        <button class="px-4 bg-gray-200 dark:bg-gray-600 p-3 rounded text-black dark:text-white hover:bg-gray-300 dark:hover:bg-gray-500 font-semibold" (click)="closeEditModal()">Cancel</button>
        <button type="submit" form="edit_service_form" class="px-4 bg-blue-500 dark:bg-blue-700 p-3 ml-3 rounded-lg text-white hover:bg-blue-600 dark:hover:bg-blue-800">Confirm</button>
      </div>
    </div>
  </div>
</div>