
<div class="flex flex-wrap space-x-4 " (change)="onServiceChange($event)">
    <div class="w-1/4">
        <label for="service-select" class="block text-sm font-medium text-gray-700">Services</label>
            <select [(ngModel)]="selectedtype" (change)="onServices($event)" name="selectedService" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1">
                <option value="" disabled selected>Select Service</option>
                <option value="Half day">Half day</option>
                <option value="Full day">Full day</option>
                <option value="Regular">Regular</option>
            </select>
    </div>
   <div class="w-1/4">
        <label for="selectedAge" class="block text-sm font-medium text-gray-700">Age</label>
        <select [(ngModel)]="selectedService"  name="selectedService" class="h-10 p-2 w-full border-2 border-gray-300 dark:border-gray-700 rounded-md mt-1">
            <option value="" disabled selected>Select Service</option>
            @for (guideType of filteredGuides; track $index) {
                <option [value]="guideType._id">{{guideType.name_guide}} - {{guideType.price_guide}}</option>
            }
        </select>
    </div>
    <div class="">
        <label for="notes" class="block text-sm font-medium text-gray-700">Notes</label>
        <input type="text" [(ngModel)]="notes" name="notes" id="notes" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="notes">
    </div>
</div>