<div class="grid grid-cols-1 gap-2 mb-2  ">
    <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
        <div class="p-6 flex justify-between gap-4">
          <!-- columna de la izquierda -->
            <div class="w-1/4 space-y-4">
                <div >
                        <label for="name_mq" class="block text-sm font-medium text-gray-700">Name Master Quoter</label>
                        <input [(ngModel)]="masterQuoter.name" name="name_mq" type="text" id="name_mq" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Name Master Quoter">
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class=" " >
                        <label for="destinations" class="block text-sm font-medium text-gray-700">Destinations</label>
                        <input [(ngModel)]="masterQuoter.destinations" type="text"  name="destinations" id="destinations" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Destinations" required>
                    </div>
                    <div>
                        <label for="days" class="block text-sm font-medium text-gray-700">Days</label>
                        <input [(ngModel)]="masterQuoter.days" type="number"  name="days" id="days" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Days" required>
                    </div>
                </div>
                <div>
                    @if (showUpdate== false) {
                        <button (click)="onSubmit()" class=" mt-3  px-4 bg-green-400 dark:bg-green-700 p-3 rounded-lg text-white hover:bg-green-600 dark:hover:bg-green-800 self-start">Save Master Quoter</button>
                    }@else {
                        <button (click)="onUpdate()" class="px-4 bg-blue-500 dark:bg-green-700 p-3  rounded-lg text-white hover:bg-green-600 dark:hover:bg-green-800" >Update</button>
                    }
                </div>
            </div>
            <!-- columna de la derecha -->
            <div class="w-full space-y-4">
            <div class="grid grid-cols-4 gap-4">
                <div>
                    <label for="selectCategoria" class="block text-sm font-medium text-gray-700">Selecione la categoria</label>
                    <select  [(ngModel)]="selectCategoria" (change)="onCategoriaChange($event)" name="selectedCategory" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" >
                        <option value="" disabled selected>Select Category</option>
                        <option value="entrance">Entrances</option>
                        <option value="expeditions">Expeditions</option>
                        <option value="guides">Guides</option>
                        <option value="restaurant">Restaurants</option>
                        <option value="operator">Operators</option>
                        <option value="transport">Kutimuy</option>
                        <option value="experience">Experiencias</option>
                        <option value="gourmet">Lima Gourmet</option>
                        <option value="train">Train</option>
                        <option value="crucero">Cruceros</option>
                        <option value="puerto">Puerto maldonado</option>
                    </select>
                </div>
                <div>
                    <label for="selectedService" class="block text-sm font-medium text-gray-700">Services</label>
                    @if (selectCategoria==='crucero' || selectCategoria=== 'puerto' ) {
                        <div class="flex items-center">

                        
                        <input [(ngModel)]="categoria_temp" type="text" placeholder="Name service" class="mt-1 block w-32 border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <i (click)="addCruceroAndPuerto()" class="bx bxs-plus-circle mt-1 mx-3 text-2xl text-green-500 dark:text-green-700 " ></i></div>
                    }@else {
                    <select [(ngModel)]="selectedService" (change)="onServiceChange($event)" name="selectedService" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="" disabled selected>Select Service</option>
                        @for (service of servicesOptions; track $index) {
                            <option [ngValue]="getServiceValue(service)">{{service.description || service.name || service.name_guide || service.operador +'-'+ service.name_service || service.company || service.nombre || service.activitie }} </option>
                        }
                    </select>
                }
                </div>
                @if (selectCategoria === 'operator' || selectCategoria === 'train') {
                 <div>
                    <label for="selectedSubService" class="block text-sm font-medium text-gray-700">Services</label>
                    <select [(ngModel)]="selectedSubService" (change)="onSubServiceChange($event)" name="selectedSubService" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="" disabled selected>Select Service</option>
                        @for (service of subservicesOptions; track $index) {
                            <option [ngValue]="getServiceValue(service)">{{service.descripcion || service.serviceName }} </option>
                        }
                    </select>
                </div>
                }
                <div class="col-start-4 flex justify-end">
                    <div>
                    <label for="selectedSubService" class="block text-sm font-medium text-gray-700">Selected Year</label>
                    <select [(ngModel)]="selectedYear"name="selectedSubService" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        </select>
                    </div>
                    <button (click)="addDays()" class="w-32 mt-3 px-4 bg-blue-500 dark:bg-green-700 p-3 rounded-lg text-white hover:bg-blue-600 dark:hover:bg-blue-800 self-start">
                      Add Day
                    </button>
                  </div>
            </div>
            @for (day of masterQuoter.day; track  $index; let i = $index) {

            <div>
                <div class="flex space-x-4">
                    <div>
                        <label for="City" class="block text-sm font-medium text-gray-700">Dia {{$index+1}}</label>
                        <input [(ngModel)]="day.city" type="text" placeholder="City..." class="mt-1 block w-32 border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div>
                        <label  for="name_services" class="block text-sm font-medium text-gray-700">Name of services</label>
                        <input [(ngModel)]="day.name_services" type="text" placeholder="Name of services..." class="mt-1 block w-32 border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                </div>
                <div class="mt-4 flex flex-wrap border border-gray-300">

                    <label>
                        <input type="radio" [(ngModel)]="selectedDayIndex" [value]="{ type: 'services', dayIndex: $index }" class="peer hidden" name="">
                        <div class="flex items-center justify-between px-4 py-2 cursor-pointer text-sm  group">
                            <h2 class="font-medium text-gray-700">Servicios </h2>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-600 invisible group-[.peer:checked+&]:visible">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                    </label>
                    @for (tag of day.services; track $index) {
                        @if (tag.type_service=='services') {
                           <span class="tag bg-emerald-300 text-white rounded-full px-3 py-1 mr-2 mb-2 m-2 flex items-center">
                           {{ tag.name_service }}
                       <span (click)="removeTag(tag)" class="remove-tag ml-2 cursor-pointer text-lg">&times;</span>
                        </span>
                        }
                       }
                </div>
            </div>
            <div>

                <div class="mt-4 flex flex-wrap border border-gray-300">
                    <label>
                        <input type="radio" [(ngModel)]="selectedDayIndex" [value]="{ type: 'options', dayIndex: $index }" class="peer hidden" name="">
                        <div class="flex items-center justify-between px-4 py-2 cursor-pointer text-sm  group">
                            <h2 class="font-medium text-gray-700">Opcionales </h2>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-600 invisible group-[.peer:checked+&]:visible">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                    </label>
                    @for (tag of day.services; track $index) {
                     @if (tag.type_service=='options') {
                        <span class="tag bg-red-400 text-white rounded-full px-3 py-1 mr-2 mb-2 m-2 flex items-center">
                        {{ tag.name_service }}
                    <span (click)="removeTag(tag)" class="remove-tag ml-2 cursor-pointer text-lg">&times;</span>
                     </span>
                     }
                    }

                </div>

            </div>
            }
            </div>
        </div>
    </div>
</div>
