<div class="p-6 flex flex-col space-y-4 ">
    <div class="flex flex-wrap space-x-4 justify-start">
    
            <button class=" top-4 right-4 px-4 bg-blue-500 dark:bg-blue-700 p-3 ml-3 rounded-lg text-white hover:bg-blue-600 dark:hover:bg-blue-800" (click)="openModal()">Open Master Quoter</button>    
    </div> 
</div>
<div class="p-6 block w-full overflow-x-auto" id="table-container" #tableContainer>
    <h1 class="font-semibold text-base text-gray-900 dark:text-gray-50">Services</h1>
    <table class="items-center w-full bg-transparent border border-collapse" >
    <thead>
        <tr>
        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-4 font-semibold text-center">Day</th>
        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-10 font-semibold text-left">Date</th>
        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-10 font-semibold text-left">City</th>
        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-1/4 font-semibold text-left">Name Service</th>
        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-20 font-semibold text-left min-w-140-px">Price</th>
        @for (item of [].constructor(number_paxs().length); track $index) {
                        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-10 font-semibold text-left min-w-140-px">Price {{$index+1}}</th>
        }
        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-1/4 font-semibold text-left min-w-140-px">Notes</th>
        <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 w-1/4 font-semibold text-left min-w-140-px">Actions</th>
        </tr>
    </thead>
    <tbody >
    
        @for (dayService of services; track $index) {
            @for (service of dayService.services; track $index ;let innerIndex=$index) {
                <tr class="text-gray-700 dark:text-gray-1000">
                    @if (innerIndex === 0) {
                        <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap">
                            {{dayService.day}}
                        </td>
                        <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap">
                            {{dayService.date | date }}
                        </td>
                    } @else {
                        <td class="border-t-0 align-middle border-l-0 border-r-0 text-s whitespace-nowrap p-4"></td>
                        <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap"></td>
                    }
                    <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap">{{service.city}}</td>
                    <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap">{{service.name_service}}</td>
                    <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap">${{service.price_base | currency}}</td>
                    @for (price of service.prices; track $index ; let priceIndex = $index) {
                        <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap">{{price | currency}}</td>
                    }
                    <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-s whitespace-nowrap">{{service.notes}}</td>

                    @if (innerIndex===0) {
                <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap">
                    <i (click)="openModalEdit(dayService)" class='bx bx-edit-alt text-2xl text-blue-500 dark:text-blue-700 mr-2'></i>
                    <i (click)="closeModalEdit()" class='bx bx-trash text-2xl text-red-500 dark:text-red-700 mr-2'></i>
                </td>
            }@else{
                <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap"></td>
            }
                </tr>

            }
            
        }
    </tbody>
    <tfoot>
        <tr class="font-semibold text-gray-700 dark:text-gray-1000">
            <td colspan="5" class="border-t-2 border-gray-300 px-4 py-2 text-left">Total Price</td>
            @for (price of getTotalPricesServices(); track $index) {
            <td  class="border-t-2 border-gray-300 px-4 py-2 text-right">${{price.toFixed(2)}}</td>
            }
            <td colspan="2" class="border-t-2 border-gray-300 px-4 py-2 text-right"></td>
        </tr>
    </tfoot>
    </table>
</div>
@if (modalOpen()) {
    <app-master-quoter (servicesChange)="onModalmqQuoterChange($event)" [numberpaxs]="number_paxs()" (closeModalEvent)="closeModal()"></app-master-quoter>
}

@if (modalOpenEditService()) {
    <app-edit-service-modal [dayData]="selectserviceEdit" [number_paxs]="number_paxs()" (closeModalEvent)="closeModalEdit()"></app-edit-service-modal>
}